// Заголовки, общие БЄМ блоки и проче...
.btn {
	padding: 20px 40px;

	line-height: 26px;
	color: #fff;
	background: #FC0A7E;
	border-radius: 3px;
	transition: all .4s;

	@media (min-width:$mobile) {
		&:hover {
			background: #a1034f;
		}
	}
}

.title {
	font-size: 12px;
	line-height: 167%;
	letter-spacing: 2px;
	color: #A8A8A8;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.subtitle {
	font-size: 38px;
	line-height: 126%;
	margin-bottom: 22px;
}

.descr {
	font-size: 16px;
	line-height: 188%;
	color: #6B6B6B;
}

$index: calc(1vh + 1vw);